/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fffef8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.button:hover, #login .button:hover {
	background-color: #0E2F28;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: black;
}

.current {
	font-weight: bold;
	cursor: default;
}

.current:hover {
	color: black;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	user-select: none;
}

h1:hover {
	cursor: pointer;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

#categories {
	display: flex;
	gap: 2em;
	justify-content: center;
}

#categories button {
	border: 1px #1D6154 solid;
	background: transparent;
	color: #1D6154;
	margin: 2em 0;
	padding: 0.75em 2.5em;
	width: auto;
	box-sizing: border-box;
}

#categories button:hover {
	background: #0E2F28;
	color: white;
	cursor: pointer;
	border: 1px #0E2F28 solid;
}

#categories .focus {
	background-color: #1D6154;
	color: white;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 50px;
}
.navbar li {
	font-size: 1.2em;
}

.navbar img {
	width: 20px;
	height: auto;
}

.navbar li:hover, .navbar nav img:hover {
	color: #B1663C;
	cursor: pointer;
	filter: invert(48%) sepia(54%) saturate(532%) hue-rotate(338deg) brightness(83%) contrast(91%);
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 90%;
	transform: translate(-30px);
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 20px;
}

#login {
  	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#login h2 {
	text-align: center;
}

#login form{
    display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;	
}

#login form label {
	width: 100%;
	display: flex;
}

#login h2 {
	margin-bottom: 60px;
}

#login input {
	width: 380px;
	height: 50px;
	box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-top: 10px;
	margin-bottom: 30px;
}

#login input[type="submit"] {
	color: white;
	background-color: #1D6154;
	border: none;
	border-radius: 60px;
	padding: 10px 40px;
	width: 180px;
	margin-bottom: 30px;
}

#login a {
	text-decoration: underline;
}

#login a:hover {
	color: #B1663C;
	cursor: pointer;
}

#login .wrong {
	color: red;
}

#login .wrong-animate {
	animation: move-text 0.5s linear;
}

@keyframes move-text {
  0% {
    transform: translateX(0);
  }
  20%{
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

#login-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(-20%);
	width: 100%;
}

.modal {
	display: none;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
	z-index: 5;
	display: none;
	flex-direction: column;
	background-color: white;
	width: 560px;
	min-height: 350px;
	height: auto;
	border-radius: 10px;
	padding: 30px;
	box-sizing: border-box;
}

.modal-content-nav {
	display: flex;
	justify-content: flex-end;
}

.close:hover, .back:hover {
	cursor: pointer;
}

.modal-content h2, .modal-content-add h2 {
	margin-top: 20px;
	font-family: "Work Sans";
	color: black;
	font-weight: lighter;
}

.modal-content .work-edit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-inline: 40px;
}

.modal-content article {
	display: flex;
	position: relative;
	width: 100%;
}

.work-btn {
	position: absolute;
	display: flex;
	width: 76px;
	justify-content: flex-end;
	flex-direction: row;
	color: white;
	gap: 3px;
	margin-top: 4px;
}

.work-btn i {
	border-radius: 4px;
	padding: 4px;
	background-color: black;
	font-size: 9px;
}

.work-btn i:hover {
	cursor: pointer;
}

.fa-arrows-up-down-left-right {
	display: none;
}

.modal-content img {
	width: 80px;
	height: 100px;
	margin-bottom: 4px;
}

hr {
	margin-top: 50px;
	width: 75%;
}

.modal-content button {
	padding: 10px 50px;
	width: 50%;
}

.modal-content button:hover {
	background-color: #0E2F28;
	cursor: pointer;
}

.modal-content .delete {
	display: flex;
	justify-content: center;
	color: #D65353;
}

.modal-content .delete:hover {
	text-decoration: underline;
}

.modal-content-add {
	display: none;
	flex-direction: column;
	background-color: white;
	width: 30%;
	min-height: 350px;
	height: auto;
	border-radius: 10px;
	padding: 30px;
	box-sizing: border-box;	
}

.modal-content-add-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-content-add form {
	display: flex;
	flex-direction: column;
}

.modal-content-add label {
	font-family: "Work Sans";
	font-weight: bold;
}

.modal-content-add form {
	margin-inline: 70px;
}

.modal-content-add hr {
	width: 100%;
	border-top: 1px solid #B3B3B3;
}

.modal-content-add input[type="submit"] {
	padding: 10px 7em;
	background-color: #1D6154;
	width: auto;
}

.modal-content-add input[type="submit"]:disabled, .modal-content-add input[type="submit"]:disabled:hover {
	background-color: #A7A7A7;
	cursor: not-allowed;
}

.modal-content-add input[type="submit"]:hover {
	background-color: #0E2F28;
	cursor: pointer;
}

.add-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 28px 0 19px 0;
}

.add-img i {
	font-size: 58px;
	color: #B9C5CC;
}

.add-img button {
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 10px 33px;
	color: #306685;
	margin: 21px 0 7px 0;
}

.add-img button:hover {
	cursor: pointer;
	background-color: #aacadb;
}

.add-img p {
	font-size: 10px;
}

.add-img-options {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 20px;
}

.add-img-options div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-img-options input[type="text"], select#select_category {
	font-family: "Work Sans";
	font-size: 20px;
	border: 1px solid white;
	height: 50px;
	padding-inline: 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

select#select_category:hover {
	cursor: pointer;
}

.edit-mode ul{
	display: none;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: black;
	list-style-type: none;
	gap: 10px;
	z-index: 2;
}

.edit-mode i {
	width: 19px;
	margin: 0;
}

.edit-mode p {
	font-family: "Work Sans";
	color: white;
	margin: 0;
}

.edit-mode button {
	background-color: white;
	color: black;
	width: 100%;
	padding: 10px 20px;
	margin-left: 10px;
}

.edit-mode button:hover {
	background-color: rgb(236, 236, 236);
	cursor: pointer;
}

.editmode {
	margin-top: 80px;
}

.edit-mode-black {
	display: none;
	flex-direction: row;
	gap: 10px;
	color: black;
	margin: 10px 0px;
}

.projets {
	display: flex;
	flex-direction: row;
	position: relative;
	text-align: center;
	gap: 10px;
}

.projets h2 {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.projets a {
	position: relative;
	left: 50%;
	transform: translate(-100%);
}

.gallery {
	margin-top: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
}

textarea {
	resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

